<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FontAwesome icons -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <!-- Link to CSS stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}Simple Calculator{% endblock %}</title>
    </head>
    </div>
    <body>
        <header onclick="window.location.href = '/'" title="Back to Homepage">
            <h3 id="app-name">Simple Calculator</h3>
            <img src="{{ url_for('static', filename='icons/icons8-math-80.png') }}" id="banner-icon">
        </header>
        <main>
            <p>A simple calculator supporting addition, subtraction, multiplication, and division.</p>
            <p>(1) Either use the provided inputs and buttons to carry out operations.<br>(2) Or specify an operation
                with operands in the URL. E.g '/add/1/2' or '/divide/10/5'.
            <p>NOTE: Using option 2 will require manual navigation back to homepage (Click on banner).</p>
            </p>
            <input type="text" name="op_a" id="op_a" {% if disable_inputs %}disabled{% endif %}>
            <select name="ops" id="op-select" {% if disable_inputs %}disabled{% endif %}>
                <option value="+">+</option>
                <option value="-">-</option>
                <option value="/">/</option>
                <option value="*">*</option>
            </select>
            <input type="text" name="op_b" id="op_b" {% if disable_inputs %}disabled{% endif %}>
            <input type="button" value="=" id="eq-butt" {% if disable_inputs %}disabled{% endif %}>
            <p id="error-msg">Please provide BOTH operands first!</p>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            <p>Made with <i class="fa-solid fa-heart" style="color: red;"></i> by Asante Frye</p>
            <!-- Credit to Icons8 for math icon -->
            <a target="_blank" href="https://icons8.com/icon/78038/math">Math</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </footer>
    </body>
    <!-- Link to JavaScript file - used for click events and logic -->
    <script src="{{ url_for('static', filename='script.js')  }}"></script>
</html>